{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-confusing-arrow": 0,
    "object-curly-newline": 0
  }
}
