html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  overflow: hidden;
}

output {
  position: absolute;
  width: 200px;
  background: white;
  height: 200px;
  right: 0;
  top: 0;
  z-index: 1;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

.panorama-viewer {
  position: relative;
}

.panorama-viewer__image {
  width: 100vw;
  height: 100vh;
  background-image: url(images/panorama.jpg);
  background-size: auto 100%;
  background-repeat: repeat-x;
  touch-action: none;
  will-change: filter;
}

.panorama-viewer__source {
  position: fixed;
  top: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  font-style: normal;
  font-size: 12px;
}

.panorama-viewer__source a {
  text-decoration: none;
  color: yellowgreen;
}

.panorama-viewer__info {
  position: fixed;
  bottom: 0;
}

.view-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 6px 20px 20px;
  pointer-events: none;
}

.view-info__field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 10px;
}

.view-info__field:last-child {
  margin-right: 0;
}

.view-info__icon {
  font-size: calc(20px + 20 * ((100vw - 320px) / 960));
}

.view-info__value {
  color: white;
  font-size: calc(16px + 12 * (100vw - 320px) / 960);
  text-align: center;
  font-weight: bold;
}

.view-info__preview {
  position: relative;
  margin-left: auto;
  font-size: 0;
  overflow: hidden;
}

.view-info__preview-image {
  max-width: 100%;
}

.view-info__indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  background-repeat: repeat-x;
}

@media (min-width: 768px) {
  .view-info {
    flex-wrap: nowrap;
    padding: 10px;
  }
}

@media (min-width: 1280px) {
  .view-info__icon {
    font-size: 40px;
  }

  .view-info__value {
    font-size: 28px;
  }

  .panorama-viewer__source {
    font-size: 14px;
  }
}

.angle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 222;
  background: white;
  max-width: 200px;
}
